<% include ../partials/header.ejs%>

    <div class = "container">
        
    <div class = "row">
    <div class = "col-lg-4 order-md-last order-sm-first">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Featured
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    
        <div class = "col-lg-8 order-md-first order-sm-last">
            <h1 class = "text-center">Home</h1>
                
                <h2 class = "text-left">
                    Journals
                </h2>

                <p>
                  <button class="btn btn-dark btn-block btn-lg" type="button" data-toggle="collapse" data-target=".journal-01" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">React <i class="fas fa-angle-down"></i></button>
                </p>
                <div class="row">
                  <div class="col">
                    <div class="collapse journal-01" id="multiCollapseExample1">
                      <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="collapse journal-01" id="multiCollapseExample2">
                      <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>
                  </div>
                </div>
             
                <p>
                  <button class="btn btn-dark btn-block btn-lg" type="button" data-toggle="collapse" data-target=".journal-02" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Angular <i class="fas fa-angle-down"></i></button>
                </p>
                <div class="row">
                  <div class="col">
                    <div class="collapse journal-02" id="multiCollapseExample1">
                      <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="collapse journal-02" id="multiCollapseExample2">
                      <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<% include ../partials/footer.ejs%>
