<% include ../partials/header.ejs%>

<div class = "container" >
    <h1>Hi! Welcome to CodeJournal!</h1>
    <h5 class = "text-muted" >A Place for students to share their learning journey</h5>
</div>

<% include ../partials/footer.ejs%>