<%- include('../partials/header.ejs', {active: "home"}); %>%>

<div class = "container"> 
    <h1>Register</h1>

    <form action = "/register" method = "POST">
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input name = "username" type="text" class="form-control" id="usernameInput" placeholder="Your username" autocomplete="new-password">
        </div>

        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input name = "password" type="password" class="form-control" id="passwordInput" placeholder="Your password" autocomplete="new-password">
        </div>

        <%if(showCodeInput){%>
            <div class="form-group">
                <label for="code">Increased Permissions</label>
                <input name = "code" type="password" class="form-control" id="code" placeholder="The code given to you" autocomplete="new-password">
            </div>
        <%}%>
        
        <button type="submit" class="btn btn-outline-primary">Submit</button>

    </form>
</div>

<% include ../partials/footer.ejs%>