<% include ../partials/header.ejs%>

    <div class = "container">
            
            <h1 class = "text-left">Explore</h1>

            <form action = "/explore" method = "GET" class = "form-inline" id = "searchForm">
                    <input type="text" class="form-control" id="searchBox" placeholder="Search Query" name = "search">
                    <input type="number" step = "1" min = "1" value = "10" max = "100" class="form-control" id="numResultsBox" placeholder="Number of results" name = "limit">
                    <button class = "btn btn-primary">Search</button>
                    <%if(showBackButton){%>
                        <a class="btn btn-dark" href = "/explore" id = "backButton"><i class="fas fa-angle-left"></i>Back</a>
                    <%}%>
            </form>

        
        <div class="card-columns">
            <%posts.forEach(function(post){%>
                <div class="card">
                <img class="card-img-top" src="https://bit.ly/2NeIetx" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=post.title%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%=post.author.username%></h6>
                        <p class="card-text"><%-post.body.substring(0, 100)%></p>
                        <a href="/posts/<%=post._id%>" class="btn btn-primary">View</a>
                    </div>
                </div>
            <%})%>
        </div>
        
    </div>
<% include ../partials/footer.ejs%>
