<% include ../partials/header.ejs%>
    <div class = "container">
        
    <div class = "row">
    <div class = "col-lg-4 order-md-last order-sm-first">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Featured
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
        <div class = "col-lg-8 order-md-first order-sm-last">
            
            <h1 class = "text-left">Home</h1>
            
            <form class = "form-inline" action = "/home" method = "GET">
                <div>
                     <input type = "text" name = "search" class = "form-control" placeholder = "Search all posts">
                     <input type = "submit" value = "search" class = "btn btn-primary">
                </div>
            </form>
            
            <% posts.forEach(function(post){ %>
                <div class="card">
                    <img class="card-img-top" src="https://bit.ly/2NeIetx" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%=post.title%></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%=post.author.username%></h6>
                            <p class="card-text"><%-post.body.substring(0,100)%></p>
                            <a href="/posts/<%=post._id%>" class="btn btn-primary">View</a>
                        </div>
                </div>
            <% })%>
        </div>

        
        </div>
    </div>
<% include ../partials/footer.ejs%>
